.product{
    padding: 120px 0 100px;
    &__item-btn{
        height: 50px;
        background-color: $accent;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
        text-transform: uppercase;
        padding-inline: 50px;
        cursor: pointer;
        outline-color: $accent-light;
        margin-left: 15px;
    }
    &__item-info{
        margin-top: 30px;
    }
}

.product-info__link{
    color: $default;
    &:hover{
        color: $accent;
    }
}

.jq-number__field {
    width: 114px;
    border: 1px solid $accent;
}

.jq-number__field input {
    width: 100%;
    height: 47px;
    border: none;
    outline: none;
    @extend %rubik-400;
    color: #333;
    text-align: center;
}

.jq-number{
    padding: 0;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number__spin.minus{
    left: 15px;
}

.jq-number__spin.plus{
    right: 15px;
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #333;
    width: 12px;
    height: 1px;
}

.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    background-color: #333;
    width: 1px;
    height: 12px;
}

.product-item{
    &__inner{
        display: flex;
    }
    &__slide{
        width: 550px;
        margin-right: 65px;
    }
    &__content{
        width: 555px;
        padding-top: 30px;
    }
    &__title{
        font-size: 40px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    &__price{
        font-size: 30px;
        line-height: 30px;
        margin: 30px 0;
    }
    &__text{
        margin-bottom: 30px;
    }
}

.product-slide{
    display: flex;
    &__thumb{
        width: 134px;
        margin-right: 25px;
    }
    &__thumb-item{
        margin-bottom: 20px;
        width: 134px;
        height: 156px;
        border: 2px solid $accent-light;
        cursor: pointer;
        img{
            width: 86px;
            height: 152px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
    &__big{
        width: 382px;
        height: 533px;
        border: 2px solid $accent-light;
        img{
            margin: 60px auto;
            width: 233px;
            height: 405px;
            object-fit: contain;
        }
    }
}

.product-tabs{
    padding: 70px 0 120px;
    &__top{
        margin-left: 160px;
        margin-bottom: 40px;
        @extend %rubik-500;
        font-size: 18px;
        line-height: 40px;
    }
    &__top-item{
        height: 50px;
        background-color: $accent-light;
        color: $default;
        border: none;
        width: 235px;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline-color: $accent-light;
        margin-left: 12px;
    }
    &__top-item--active{
        color: #fff;
        background-color: $accent;
    }
    &__content-item{
        display: none;
        &.product-tabs__content-item--active{
            display: block;
        }
    }
}

.comments{
    margin-bottom: 40px;
    display: flex;
    &__title{
        @extend %rubik-700;
        font-size: 24px;
        line-height: 36px;
        color: $promo;
        margin-bottom: 55px;
    }
    &__img{
        margin-right: 30px;
        min-width: 71px;
        height: 71px;
        overflow: hidden;
        object-fit: cover;
    }
    &__content-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__content-add{
        font-size: 14px;
        line-height: 18px;
        color: $light;
    }
    &__content-name{
        margin-right: 13px;
        @extend %rubik-700;
        font-size: 16px;
        line-height: 20px;
        color: $promo;
    }
    &__content-date{
        padding-left: 13px;
        color: $promo;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            background-color: $promo;
            width: 1px;
            height: 15px;
        }
    }
    &__content-star{
        margin-left: auto;
    }
    &__content-text{
        margin-bottom: 10px;
        color: $footer;
    }
    &__reply{
        margin-left: 90px;
        padding: 30px 0;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    &__content-reply{
        display: inline-block;
        color: $promo;
        position: relative;
        &:after{
            color: $accent;
        }
        &::after{
            content: '';
            position: absolute;
            left: 50px;
            width: 12px;
            height: 13px;
            top: 10px;
            background-image: url("../images/icons/arrow-right.svg");
        }
    }
}

.comments-form{
    &__title{
        @extend %rubik-700;
        font-size: 24px;
        line-height: 30px;
        color: $promo;
        margin-bottom: 45px;
    }
    &__rating{
        margin-bottom: 30px;
    }
    &__rating-title{
        margin-right: 60px;
    }
    &__label{
        margin-right: 25px;
    }
    &__box-input{
        max-width: 870px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__input{
        @extend %radio-hidden;
        &:checked + .comments-form__radio{
            path{
                fill: #ffc35b;
            }
        }
    }
    &__radio{
        cursor: pointer;
        path{
            fill: #d8d8d8;
        }
    }
    &__text-input{
        width: 400px;
        display: inline-block;
        height: 50px;
        padding: 0 20px;
        border: 1px solid $accent-light;
        outline-color: $accent;
    }
    &__textarea{
        border: 1px solid $accent-light;
        padding: 15px 20px;
        display: block;
        width: 870px;
        height: 225px;
        resize: none;
        margin-bottom: 40px;
        outline-color: $accent;
    }
    &__btn{
        height: 50px;
        background-color: $accent;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        line-height: 30px;
        text-transform: uppercase;
        padding-inline: 50px;
        cursor: pointer;
        outline-color: $accent-light;
        margin-left: 15px;
    }
}

.related{
    &__title{
        text-align: left;
        margin-bottom: 60px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slick-arrow {
            position: absolute;
            top: -25%;
            font-size: 0;
            border: 1px solid $accent-light;
            border-radius: 5%;
            background-color: #fff;
            width: 50px;
            height: 50px;
            outline-color: $accent;
        }
        .slick-arrow.slick-prev{
            right: 70px;
            background-image: url('../images/icons/left-arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .slick-arrow.slick-next{
            right: 0;
            background-image: url('../images/icons/right-arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__item {
        text-align: center;
        max-width: 270px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding-top: 300px;
        padding-bottom: 30px;
        position: relative;
        overflow: hidden;
        transition: all .3s;
        &:hover{
            .products__item-box{
                transform: translateY(0);
            }
        }
    }
    &__item-title {
        @extend %dmsans-700;
        color: $title;
        font-size: 20px;
        line-height: 24px;
    }
    &__item-text {
        color: $accent;
    }
}

.products{
    padding: 100px 0 120px;
    &__filter-btn {
        margin: 30px auto 75px;
        display: flex;
        justify-content: center;
    }
    &__btn {
        background-color: transparent;
        border: none;
        @extend %dmsans-700;
        color: #868686;
        margin-left: 30px;
        outline-color: $accent;
    }
    &__item-title {
        @extend %dmsans-700;
        color: $title;
        font-size: 20px;
        line-height: 24px;
    }
    &__item-text {
        color: $accent;
    }
    &__items{
        display: grid;
        min-width: 635px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 380px);
        grid-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding-top: 300px;
        position: relative;
        overflow: hidden;
        transition: all .3s;
        &:hover{
            .products__item-box{
                transform: translateY(0);
            }
        }
    }
    &__item-box{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 150px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 180px;
        transform: translateY(500%);
    }
    &__item-link{
        background-color: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 12px;
        transition: all .3s;
    }
    &__item-link:hover{
        path{
            fill: #fff;
        }
        background-color: $accent;
    }
    &__item-title,
    &__item-text{
        text-align: center;
    }
}