@import "vars";
@import "fonts";
@import "reset";
@import "global";
.header {
    padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo
{
    &__img{
        width: 140px;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item+.menu__list-item {
        padding-left: 32px;
    }
    &__list-link {
        font-size: 15px;
        color: $promo;
        transition: all .3s;
        @extend %rubik-500;
        &:hover {
            color: $accent;
        }
    }
    &__list-link--active {
        color: $accent;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
        &--img{
            width: 17px;
            margin-top: 18px;
            text-align: center;
        }
        &--search{
            width: 50px;
            height: 50px;
            background-color: #edf1f4;
            border-radius: 50%;
            margin-right: 18px;
            padding-left: 17px;
        }
        &--left{
            width: 90px;
            height: 50px;
            background-color: #fcd7b6;
            border-radius: 20px 0 0 20px;
            padding-left: 38px;
        }
        &--right{
            width: 90px;
            height: 50px;
            background-color: #fcd7b6;
            border-radius: 0 20px 20px 0;
            margin-left: 1px;
            padding-left: 35px;
        }
        &--menu{
            width: 50px;
            height: 50px;
            background-color: $accent;
            border-radius: 50%;
            margin-left: 18px;
            padding-left: 17px;
        }
    }

    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        top: 7px;
        right: 22px;
        font-size: 12px;
        line-height: 20px;
        color: $default;
        text-align: center;
    }
}

.footer-top{
    padding: 80px 0 70px;
    border-bottom: 1px solid $accent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__contact{
        width: 200px;
        margin-right: 100px;
    }
    &__nav{
        width: 140px;
        margin-right: 160px;
    }
    &__item-form{
        max-width: 270px;
    }
    &__logo{
        margin-bottom: 20px;
        display: block;
    }
    &__address,
    &__email,
    &__phone{
        margin-bottom: 25px;
        display: block;
        color: $footer;
    }
    &__title{
        color: $title;
        margin-bottom: 28px;
        line-height: 1;
        @extend %dmsans-700;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 20px;
    }
    &__link{
        margin-bottom: 14px;
        display: block;
        color: $footer;
    }
    &__text{
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 24px;
        color: $footer;
    }
    &__form-input{
        max-width: 165px;
        background-color: #fef7f0;
        border: none;
        padding: 12px 10px 12px 15px;
        &::placeholder {
            color: $promo;
            font-size: 12px;
            line-height: 16;
        }
    }
    &__form-btn{
        padding: 17px 18px;
        border: none;
        background-color: $accent;
        color: #fff;
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
    }
}

.footer-bottom{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: $footer;
    &__menu-list{
        display: flex;
    }
    &__link{
        display: inline;
        color: $footer;
        margin: 0 12px;
    }
}


@import "media";