.info{
  &__container{
    max-width: 1770px;
    background-color: $bg-light;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 600px;
    padding: 35px 135px 35px 230px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 155px;
      width: 60px;
      height: 60px;
    }
    &--support::before{
      background-image: url("../images/icons/support.svg");
      background-repeat: no-repeat;
    }
    &--delivery::before{
      background-image: url("../images/icons/delivery.svg");
      background-repeat: no-repeat;
    }
    &--secure::before{
      background-image: url("../images/icons/secure.svg");
      background-repeat: no-repeat;
    }
    &--delivery{
      border-right: 1px solid $bg;
      border-left: 1px solid $bg;
    }
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text{
    @extend %dmsans-400;
    color: #585858;
  }
}